body {
    background-color: #eaeaea;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px rgba(30, 20, 229, 0.2);
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

input {
    padding: 8px;
    width: 80%;
}